.container{
  border-style: none;
  background-color: rgba(255,255,255,0.5);
  border-width:3px;
  margin:20px;
  width: 300px;
  padding: 50px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 0 15px 4px rgba(white);
}

p{
  font-weight: bolder;
}
.body{
  background-image: url("../images/ghana.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; 
}
#my-form{
  background-color: transparent;
  border-style: none;
}